html
    head
      title= "Jade Templating CodeMirror Mode Example"
      link(rel='stylesheet', href='/css/style.css')
    body
      #hello hello
      #hello1 hello
      #hello2 hello2121er21e1e12e12e21e12d10000-999999